## **Summary of datafiles, examples, scripts, etc. provided by competition**

**Please do not edit this document**

Resources:
- [UniProt Website](https://www.uniprot.org/) for `UniProt` IDs
- [Amino acid abbreviations](https://en.wikipedia.org/wiki/Amino_acid#Table_of_standard_amino_acid_abbreviations_and_properties) for `Peptide` data

In [2]:
import numpy as np
import pandas as pd

**train_peptides.csv** Mass spectrometry data at the peptide level. Peptides are the component subunits of proteins.

- `visit_id` - ID code for the visit.
- `visit_month` - The month of the visit, relative to the first visit by the patient.
- `patient_id` - An ID code for the patient.
- `UniProt` - The UniProt ID code for the associated protein. There are often several peptides per protein.
- `Peptide` - The sequence of amino acids included in the peptide. See this table for the relevant codes. Some rare annotations may not be included in the table. The test set may include peptides not found in the train set.
- `PeptideAbundance` - The frequency of the amino acid in the sample.

In [9]:
train_peptides = pd.read_csv('data/train_peptides.csv')
print('Table shape: ' + str(train_peptides.shape))
print('Number of unique peptides: ' + str(train_peptides['Peptide'].unique().shape[0]))
print('Number of unique visits: ' + str(train_peptides['visit_id'].unique().shape[0]))
print('Number of unique patients: ' + str(train_peptides['patient_id'].unique().shape[0]))
print(train_peptides.info())
train_peptides.head(10)

Table shape: (981834, 6)
Number of unique peptides: 968
Number of unique visits: 1113
Number of unique patients: 248
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981834 entries, 0 to 981833
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   visit_id          981834 non-null  object
 1   visit_month       981834 non-null  int64
 2   patient_id        981834 non-null  int64
 3   UniProt           981834 non-null  object
 4   Peptide           981834 non-null  object
 5   PeptideAbundance  981834 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 44.9+ MB
None

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.0
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.0
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.9
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.7
5,55_0,0,55,O00533,TLKIENVSYQDKGNYR,23216.5
6,55_0,0,55,O00533,VIAVNEVGR,170878.0
7,55_0,0,55,O00533,VMTPAVYAPYDVK,148771.0
8,55_0,0,55,O00533,VNGSPVDNHPFAGDVVFPR,55202.1
9,55_0,0,55,O00584,ELDLNSVLLK,27229.3

**train_proteins.csv** Protein expression frequencies aggregated from the peptide level data.

- `visit_id` - ID code for the visit.
- `visit_month` - The month of the visit, relative to the first visit by the patient.
- `patient_id` - An ID code for the patient.
- `UniProt` - The UniProt ID code for the associated protein. There are often several peptides per protein. The test set may include proteins not found in the train set. 
- `NPX` - Normalized protein expression. The frequency of the protein's occurrence in the sample. May not have a 1:1 relationship with the component peptides as some proteins contain repeated copies of a given peptide.

In [11]:
train_proteins = pd.read_csv('data/train_proteins.csv')
print('Table shape: ' + str(train_proteins.shape))
print('Number of unique proteins: ' + str(train_proteins['UniProt'].unique().shape[0]))
print(train_proteins.info())
train_proteins.head(20)

Table shape: (232741, 5)
Number of unique proteins: 227
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232741 entries, 0 to 232740
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   visit_id     232741 non-null  object
 1   visit_month  232741 non-null  int64
 2   patient_id   232741 non-null  int64
 3   UniProt      232741 non-null  object
 4   NPX          232741 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.9+ MB
None

   visit_id  visit_month  patient_id UniProt         NPX
0      55_0            0          55  O00391    11254.30
1      55_0            0          55  O00533   732430.00
2      55_0            0          55  O00584    39585.80
3      55_0            0          55  O14498    41526.90
4      55_0            0          55  O14773    31238.00
5      55_0            0          55  O14791     4202.71
6      55_0            0          55  O15240   177775.00
7      55_0            0          55  O15394    62898.20
8      55_0            0          55  O43505   333376.00
9      55_0            0          55  O60888   166850.00
10     55_0            0          55  O75144    98746.30
11     55_0            0          55  O75326     6380.35
12     55_0            0          55  O94919    67567.60
13     55_0            0          55  P00441    64117.80
14     55_0            0          55  P00450  1181230.00
15     55_0            0          55  P00734   688909.00
16     55_0            0          55  P00736   109541.00
17     55_0            0          55  P00738  3956470.00
18     55_0            0          55  P00746   111619.00
19     55_0            0          55  P00747   347865.00

**train_clinical_data.csv**

- `visit_id` - ID code for the visit.
- `visit_month` - The month of the visit, relative to the first visit by the patient.
- `patient_id` - An ID code for the patient.
- `updrs_[1-4]` - The patient's score for part N of the Unified Parkinson's Disease Rating Scale. Higher numbers indicate more severe symptoms. Each sub-section covers a distinct category of symptoms, such as mood and behavior for Part 1 and motor functions for Part 3.
- `upd23b_clinical_state_on_medication` - Whether or not the patient was taking medication such as Levodopa during the UPDRS assessment. Expected to mainly affect the scores for Part 3 (motor function). These medications wear off fairly quickly (on the order of one day) so it's common for patients to take the motor function exam twice in a single month, both with and without medication.

**Targets to predict** (Unified Parkinson's Disease Rating Scale): updrs_1, updrs_2, updrs_3, updrs_4
- **updrs_1** - Non-motor experiences of daily living
- **updrs_2** - Motor experiences of daily living
- **updrs_3** - Motor examination
- **updrs_4** - Complications of therapy

The full survey is accessible [here](https://www.movementdisorders.org/MDS-Files1/PDFs/Rating-Scales/MDS-UPDRS_English_FINAL.pdf).

In [12]:
train_clinical_data = pd.read_csv('data/train_clinical_data.csv')
print('Table shape: ' + str(train_clinical_data.shape))
print('Number of patients in train_clinical_data: ' + str(len(train_clinical_data["patient_id"].unique())))
print(train_clinical_data.info())
train_clinical_data.head(10)

Table shape: (2615, 8)
Number of patients in train_clinical_data: 248
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2615 entries, 0 to 2614
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   visit_id                             2615 non-null   object
 1   patient_id                           2615 non-null   int64
 2   visit_month                          2615 non-null   int64
 3   updrs_1                              2614 non-null   float64
 4   updrs_2                              2613 non-null   float64
 5   updrs_3                              2590 non-null   float64
 6   updrs_4                              1577 non-null   float64
 7   upd23b_clinical_state_on_medication  1288 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 163.6+ KB
None

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On
5,55_18,55,18,7.0,13.0,38.0,0.0,On
6,55_24,55,24,16.0,9.0,49.0,0.0,On
7,55_30,55,30,14.0,13.0,49.0,0.0,On
8,55_36,55,36,17.0,18.0,51.0,0.0,On
9,55_42,55,42,12.0,20.0,41.0,0.0,On

**supplemental_clinical_data.csv** Clinical records without any associated CSF samples. This data is intended to provide additional context about the typical progression of Parkinsons.
- `visit_id` - ID code for the visit.
- `visit_month` - The month of the visit, relative to the first visit by the patient.
- `patient_id` - An ID code for the patient.
- `updrs_[1-4]` - The patient's score for part N of the Unified Parkinson's Disease Rating Scale. Higher numbers indicate more severe symptoms. Each sub-section covers a distinct category of symptoms, such as mood and behavior for Part 1 and motor functions for Part 3.
- `upd23b_clinical_state_on_medication` - Whether or not the patient was taking medication such as Levodopa during the UPDRS assessment. Expected to mainly affect the scores for Part 3 (motor function). These medications wear off fairly quickly (on the order of one day) so it's common for patients to take the motor function exam twice in a single month, both with and without medication.

In [13]:
supplemental_clinical_data = pd.read_csv('data/supplemental_clinical_data.csv')
print('Table shape: ' + str(supplemental_clinical_data.shape))
print('Number of patients in supplemental_clinical_data: ' + str(len(supplemental_clinical_data["patient_id"].unique())))
print('Number of unique visits: ' + str(train_peptides['visit_id'].unique().shape[0]))
print(supplemental_clinical_data.info())
supplemental_clinical_data.head(10)

Table shape: (2223, 8)
Number of patients in supplemental_clinical_data: 771
Number of unique visits: 1113
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2223 entries, 0 to 2222
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   visit_id                             2223 non-null   object
 1   patient_id                           2223 non-null   int64
 2   visit_month                          2223 non-null   int64
 3   updrs_1                              2010 non-null   float64
 4   updrs_2                              2009 non-null   float64
 5   updrs_3                              2218 non-null   float64
 6   updrs_4                              1295 non-null   float64
 7   upd23b_clinical_state_on_medication  1122 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 139.1+ KB
None

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,35_0,35,0,5.0,3.0,16.0,0.0,NaN
1,35_36,35,36,6.0,4.0,20.0,0.0,NaN
2,75_0,75,0,4.0,6.0,26.0,0.0,NaN
3,75_36,75,36,1.0,8.0,38.0,0.0,On
4,155_0,155,0,NaN,NaN,0.0,NaN,NaN
5,337_0,337,0,5.0,7.0,6.0,0.0,On
6,337_36,337,36,8.0,7.0,8.0,0.0,On
7,527_0,527,0,6.0,2.0,9.0,0.0,NaN
8,527_36,527,36,2.0,18.0,22.0,0.0,On
9,557_0,557,0,5.0,6.0,22.0,0.0,NaN

## Other Files

**example_test_files/** Data intended to illustrate how the API functions. Includes the same columns delivered by the API (i.e. no updrs columns).

**amp_pd_peptide/** Files that enable the API. Expect the API to deliver all of the data (less than 1,000 additional patients) in under five minutes and to reserve less than 0.5 GB of memory. A brief demonstration of what the API delivers is available here.

**public_timeseries_testing_util.py** An optional file intended to make it easier to run custom offline API tests. See the script's docstring for details.